---
import Layout from "../../layouts/Layout.astro";
import { getGitHubRepositoriesAsync } from "../../shared/github.ts";
import { GITHUB_USERNAME } from "../../shared/utils.ts";
import RepositoryCard from "./_components/RepositoryCard.astro";

const repositories = await getGitHubRepositoriesAsync(GITHUB_USERNAME);
---

<Layout>
  <p class="text-center text-secondary underline">
    For my closed source projects, please ask
  </p>
  <div class="grid grid-cols-1 md:grid-cols-3 gap-4 mt-4">
    {repositories.map((repo) => <RepositoryCard repository={repo} />)}
  </div>
</Layout>
