---
import Layout from "../layouts/Layout.astro";
import { Image } from "astro:assets";
import heroImage from "../assets/hero.jpeg";
import { GITHUB_USERNAME, NAME } from "../shared/utils";
import {
  getGitHubReadmeAsync,
  convertMarkdownToHtmlAsync,
} from "../shared/github.ts";

const readme = await getGitHubReadmeAsync(GITHUB_USERNAME, GITHUB_USERNAME);
const markdownHtml = await convertMarkdownToHtmlAsync(readme.content);
---

<Layout>
  <div class="flex justify-center">
    <div class="hero">
      <div class="hero-content flex-col lg:flex-row-reverse">
        <figure>
          <Image
            src={heroImage}
            alt={NAME}
            loading="eager"
            format="webp"
            quality="mid"
            layout="constrained"
            class="rounded-lg shadow-2xl"
          />
        </figure>
        <div class="prose prose-md">
          <Fragment set:html={markdownHtml} />
        </div>
      </div>
    </div>
  </div>
</Layout>
