---
import { NAME } from "../shared/utils";
---

<footer class="mt-8">
  <div class="footer footer-center bg-base-300 text-base-content rounded">
    <div>
      <p>© {NAME}</p>
    </div>
  </div>
</footer>
