---
import normalize from "normalize.css/normalize.css?raw";
import Navbar from "./Navbar.astro";
import Footer from "./Footer.astro";
import Menu from "./Menu.astro";
---

<!doctype html>
<html lang="en">
  <head>
    <script>
      import { themeChange } from "theme-change";
      themeChange();
    </script>
    <script is:inline>
      if (localStorage.getItem("theme") === null) {
        document.documentElement.setAttribute("data-theme", "light");
      } else
        document.documentElement.setAttribute(
          "data-theme",
          localStorage.getItem("theme")
        );
    </script>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <style is:inline set:html={normalize}></style>
    <link type="text/plain" rel="author" href="/humans.txt" />
    <link rel="icon" type="image/png" href="/favicon-96x96.png" sizes="96x96" />
    <link rel="icon" type="image/svg+xml" href="icons/favicon.svg" />
    <link rel="shortcut icon" href="/icons/favicon.ico" />
    <link
      rel="apple-touch-icon"
      sizes="180x180"
      href="/icons/apple-touch-icon.png"
    />
    <link rel="manifest" href="/site.webmanifest" />
    <meta
      name="description"
      content="This website was brought to life by Erik Olsson as a professional digital presence. It is a static site deployed via GitHub Pages, focusing on speed and clean code."
    />
    <meta property="og:title" content="mangila" />
    <meta
      property="og:image"
      content="https://mangila.github.io/icons/web-app-manifest-512x512.png"
    />
    <meta property="og:url" content="https://mangila.github.io" />
    <meta name="twitter:card" content="summary_large_image" />
    <meta name="generator" content={Astro.generator} />
    <title>mangila</title>
  </head>
  <body class="bg-grey-50">
    <div class="flex flex-col min-h-dvh">
      <Navbar />
      <Menu />
      <main class="flex-grow">
        <slot />
      </main>
      <Footer />
    </div>
  </body>
</html>

<style>
  @import "tailwindcss";
  @plugin "@tailwindcss/typography";
  @plugin "daisyui";
</style>
