---
import ThemeSwap from "../components/ThemeSwap.astro";
import { Icon } from "astro-icon/components";
import { NAME } from "../shared/utils";
---

<nav>
  <div class="navbar bg-base-200 shadow-sm">
    <a href="/" class="flex-1">
      <div class="flex items-center gap-2">
        <Icon name="codicon:code" class="h-10 w-10 fill-current" />
        <p class="prose prose-xl font-bold">{NAME}</p>
      </div>
    </a>
    <div class="flex-none pr-4">
      <ThemeSwap />
    </div>
  </div>
</nav>
