name: Lighthouse CI
on:
  push:
    branches: [ dev ]
jobs:
  lighthouseci:
    defaults:
        run:
          working-directory: ./site
    runs-on: ubuntu-latest
    continue-on-error: true
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-node@v4
        with:
          node-version: 24
      - run: npm install && npm install -g @lhci/cli@0.15.x
      - run: npm run build
      - name: run Lighthouse CI
        run: lhci autorun --upload.target=temporary-public-storage  
        env:
          LHCI_GITHUB_APP_TOKEN: ${{ secrets.LHCI_GITHUB_APP_TOKEN }}